body {	
    margin: 0px;
    padding: 0px;
    font-family: Arial;
    border: 0 none;
	background: url("../imgs/generic-background.jpg");
}

#topbar {
	z-index:10;
	width:100%;
	background:black;
	color:white;
	height:20px;
	position:absolute;
	top:0;
	left:0;
}
a {
	font-size:12px;
	color:black;
}
.albumList {
	margin:0;
	display:inline;
	padding:0;
}
img {
	display:block;
	border:1px solid white;
	position:absolute;
}

#coverStack {
	position:absolute;
}
#coverArt {
	position:absolute;
}

.floatStack {
	position:absolute;
}

#container {
	position:absolute;

}
.username {
	position:absolute;
	background:#fbfbf9;
	padding-top:20px;
	text-align: left;
	width:316px;
}

.stack {
	position:absolute;
}
/*
