body {	
    padding: 0px;
    font-family: Arial;
    border: 0 none;
	overflow:hidden;
	/*background:#202020;*/
	background:url("../imgs/generic-background.jpg");
}

/* Single Cover */

.backcontent {
	text-align:center;
	color:white;
	font-size:20px;
	font-weight:bold;
	color:white;
	font-style:normal;
	text-decoration: none;

}
.cover {
	width:200px;
	height:200px;
	/*border:1px solid white;*/
	position:absolute;
	font-size:12px;
	font-weight:normal;
	text-decoration: none;

}


.front {
	position:absolute;
	width: 200px;
	height:200px;
	
}
.image {
	width:200px;
	height:200px;
}
.back {
	width:200px;
	height:200px;
	position:absolute;
	background:#404040;
	cursor:pointer;
}

img {
	position:absolute;
}



/* menu */

.menu {

	width:40px;
	z-index: 15;
	float:left;
	background:#5d5d5d;
	margin:5px;
	padding:5px;
	text-align:center;
}

#menu1 {
	position:absolute;
	top:10px;
	left:10px;
}

#menu2 {
	top:10px;
	left:70px;
	position:absolute;
		
}

.menu a{

	color:#f1f2ed;
	font-size:11px;
}

#albumList li {
	height:200px;
	width:200px;
	margin-right:0px;
	list-style:none;
	background:red;
	/*border:1px solid white;*/

	
}
#container {
	position:absolute;
	margin:0px;
	border:1px solid black;
}
.username {

	position:absolute;
	background:black;
	padding-top:10px;
	color:white;
	display:none;
	text-align: left;
	opacity:0.4;
	filter:alpha(opacity=0);
}


