body {	
    margin: 0px;
    padding: 0px;
    font-family: Arial;
    border: 0 none;
	background: url("../imgs/generic-background.jpg");
}

#topbar {
	z-index:10;
	width:100%;
	background:black;
	color:white;
	height:20px;
	position:absolute;
	top:0;
	left:0;
}
a {
	font-size:11px;
	color:white;
}
.albumList {
	margin:0;
	display:inline;
	padding:0;
}
img {
	display:block;
	position:absolute;
}

#coverStack {
	position:absolute;
}
#coverArt {
	position:absolute;
}
